.service-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 80%;
  margin:40px auto;

}

.name-service {
  font-size: 32px;
  font-weight: 600;
  color: black;
}
.des-service {
  font-size: 16px;
  color:#3A3A3A;
  font-weight: 500;
}
.content-service {
  font-size: 16px;
  color:black;
  font-weight: 500;
  margin: 20px 0;
}